div {
    border: 1px solid black;
    padding: 50px;

}

#logo {
    width: 250px;
    height: 200px;
}

.icons {
    overflow: auto;
}

img {
    width: 150px;
    height: 150px;
}


.jokerSelect {
    width: 200px;
    height: 300px;
}